/hors/nbproject/private/
/hors/is2103-hors-ejb/nbproject/private/
/hors/build.xml
/hors/build/
/hors/nbbuild/
/hors/dist/
/hors/nbdist/
/hors/.nb-gradle/
/hors/nbproject/private/
/hors/hors-ejb/nbproject/private/
/hors/horsManagementClient/nbproject/private/
/hors/horsLibrary/nbproject/private/
/hors/horsLibrary/build/
/hors/hors-ejb/dist/
/hors/hors-ejb/build/
/hors/horsManagementClient/build/
/hors/horsManagementClient/dist/
/hors/horsLibrary/dist/
/hors/horsReservationClient/nbproject/private/
/hors/horsReservationClient/dist/
/hors/horsReservationClient/build/